<%= form_for @question do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title, autofocus: true, placeholder: "Type your Question here" %>
    </div>
    <div class="field">
        <%= f.label :content %><br />
        <%= f.text_area :content, rows: 5, placeholder: "Optional: Add more details about your question here" %>
    </div>
    <div class="actions">
        <%= f.submit "Ask" %>
    </div>
<% end %>
