<% provide(:title, "Question") %>
<h3>Question: <%= @question.title %></h3>
<table class="fw">
  <tbody>
    <tr>
      <td><%= @question.content %></td>
    </tr>
    <tr>
      <% if current_user == @question.user %>
        <td >
          <%= link_to "edit", edit_question_path %> | <%= link_to "delete", question_path, method: :delete %>
        </td>
      <% else %>
        <td>

        </td>
      <% end %>
    </tr>
    <tr>
      <td> <%= gravatar_for @question.user %>
        Asked <%= time_ago_in_words(@question.created_at) %> ago by <%= link_to @question.user.name, @question.user %> </td>
    </tr>
  </tbody>
</table>
<% if user_signed_in? %>
<%= form_for([@question, @question.answers.build]) do |f| %>
  <div class="field">
    <h3>Answer</h3>
    <%= f.text_area :body, rows: "5", placeholder: "Type your answer here" %>
  </div>
  <div class="actions">
    <%= f.submit "Add Answer" %>
  </div>
<% end %>
<% end %>
  <h3>Answers (<%= @question.answers.count %>)</h3>
<% if @question.answers.count != 0 %>
  <ul class="answers">
    <%= render @question.answers %> 
  </ul>
  <!--  will_paginate @questions -->
<% end %>
