<% provide(:title, "Question") %>
<h2>
    <%= gravatar_for @question.user %>
    <%= link_to @question.user.name, @question.user %>
</h2>
<h3>Question: <%= @question.title %></h3>
<p><%= @question.content %></p>
<p><%= link_to "Edit Question", edit_question_path %></p>
<% if current_user == @question.user %>
    <p><%= link_to "Delete Question", question_path, method: :delete %></p>
<% end %>
<%= form_for([@question, @question.answers.build]) do |f| %>
  <div class="field">
    <h3>Answer</h3>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Add Answer" %>
  </div>
<% end %>
<% if @question.answers.any? %>
    <h3>Answers (<%= @question.answers.count %>)</h3>
    <ul class="answers">
         <%= render @question.answers %> 
    </ul>
    <!--  will_paginate @questions -->
<% end %>
